<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        body {
            margin: 0;
            padding: 0 10%;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend style="text-align: center ">四川省精神医学中心与成都市温江区人民医院院际间会诊申请表</legend>
  <div></div>
</fieldset>-->
<form class="layui-form" action="/apply" method="post" id="apply">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">住院号</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickAd" lay-verify="required|number" autocomplete="off"
                       class="layui-input" value="{{.JYConSickAd}}">
            </div>
        </div>
        {{if .EditInfo}}
        <div class="layui-input-inline" style="display: none">
            <input type="tel" name="JYConNum" value="{{.JYConNum}}">
        </div>
        {{ end}}
        <div class="layui-inline">
            <label class="layui-form-label">患者姓名</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickName" lay-verify="title" autocomplete="off" class="layui-input"
                       value="{{.JYConSickName}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select name="JYConSickSex" lay-verify="required" id="类型" lay-search="{{.JYConSickSex}}">
                    <option value="男" {{.SexM}}>男</option>
                    <option value="女" {{.SexW}}>女</option>
                </select>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConSickAge" lay-verify="required|number" autocomplete="off"
                       class="layui-input" value="{{.JYConSickAge}}">
            </div>
        </div>
        <!-- <div class="layui-inline">
             <label class="layui-form-label">科室</label>
             <div class="layui-input-inline">
                 <input type="text" name="JYConSickDep" lay-verify="title" autocomplete="off" class="layui-input"
                        value="{{.JYConSickDep}}">
             </div>
         </div>-->
        <div class="layui-inline">
            <label class="layui-form-label">床号</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickBedNo" lay-verify="required|number" autocomplete="off"
                       class="layui-input" value="{{.JYConSickBedNo}}">
            </div>
        </div>
        <div class="layui-inline" >
            <label class="layui-form-label">科室</label>
            <div class="layui-inline" >
                <select name="JYConSickDep" lay-verify="required" id="JYConSickDep" lay-search=""  lay-filter="JYConSickDep">
                    {{range .DepList}}
                    <option value="{{.JYConDepCode}}">{{.JYConDepName}}</option>
                    {{end}}
                    <!--  <option value="SJXLK">精医神经心理科</option>
                      <option value="PICU">精医PICU</option>
                      <option value="TTYXZX">精医疼痛医学中心</option>
                      <option value="SJNK5">精医疼神经内科5</option>-->
                </select>
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickDepId" lay-verify="required|number" id="JYConSickDepId" autocomplete="off" value=""
                       class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">科室地址</label>
        <div class="layui-input-block">
            <input type="text" name="JYConDepLocaltion" lay-verify="title" placeholder="" autocomplete="off" id="JYConDepLocaltion"
                   class="layui-input" value="{{.JYConDepLocaltion}}">
        </div>
    </div>
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">主管医师</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConSickDoc" lay-verify="title" autocomplete="off" class="layui-input"
                       value="{{.JYConSickDoc}}">
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickDocId" lay-verify="required|number" id="JYConSickDocId" autocomplete="off" value=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">医师电话</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConSickDocPhone" lay-verify="required|phone" autocomplete="off"
                       class="layui-input" value="{{.JYConSickDocPhone}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会诊类型</label>
        <div class="layui-input-block">
            <input type="radio" name="JYConType" value="1" title="平会诊" {{.ConType1}}>
            <input type="radio" name="JYConType" value="2" title="急会诊" {{.ConType2}}>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">目前诊断</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="JYConSickDia" lay-verify="title"
                      id="JYConSickDia"
                      value="{{.JYConSickDia}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简要病情</label>
        <div class="layui-input-block">
            <textarea placeholder="含主诉、病例特征等" class="layui-textarea" name="JYConSickCase" lay-verify="title"
                      id="JYConSickCase"
                      value="{{.JYConSickCase}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">请求会诊目的</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="JYConPurpose" lay-verify="title"
                      id="JYConPurpose"
                      value="哈哈哈哈"></textarea>
        </div>
    </div>
    <!--   <div class="layui-form-item">
           <div class="layui-inline">
               <label class="layui-form-label">拟邀请科室</label>
               <div class="layui-input-inline">
                   <input type="tel" name="JYConOppDep" lay-verify="title" autocomplete="off" class="layui-input">
               </div>
           </div>
           <div class="layui-inline">
               <label class="layui-form-label">申请时间</label>
               <div class="layui-input-inline">
                   <input type="text" name="JYConDate" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                          autocomplete="off" class="layui-input">
               </div>
           </div>
       </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">拟邀请科室</label>
        <div class="layui-input-inline">
            <select name="JYConOppHos" id="JYConOppHos" lay-filter="JYConOppHos">
                <option value="">请选院区</option>
                <option value="JYZX">精医中心</option>
                <option value="WJQY" selected="">温江区医院</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="JYConOppDepId" id="JYConOppDepId">
                <!--<option value="">请选取科室</option>
                <option value="F001">呼吸科</option>
                &lt;!&ndash;
                                <option value="宁波" disabled="">宁波</option>
                &ndash;&gt;
                <option value="G002">骨科</option>
                <option value="N003">内分泌科</option>-->
            </select>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConDate" id="date" lay-verify="datetime" placeholder=""
                       autocomplete="off" class="layui-input" value="{{.JYConDate}}">
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="flag" lay-verify="required|number" id="flag" autocomplete="off" value="1"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zc">暂存</button>
            <!--
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            -->
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="tj">立即提交</button>

            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#date1'
        });
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 2) {
                    return '标题至少得2个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(zc)', function (data) {
            layui.$("#flag").val("1");
            /// layui.$("#apply").submit();

            /* layer.alert(JSON.stringify(data.field), {
               title: '最终的提交信息'
             })*/
            // return false;
        });
        form.on('submit(tj)', function (data) {
            layui.$("#flag").val("2");
            //  layui.$("apply").submit();
            /* layer.alert(JSON.stringify(data.field), {
               title: '最终的提交信息'
             })*/
            // return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function () {
            form.val('example', {
                "username": "贤心" // "name": "value"
                , "password": "123456"
                , "interest": 1
                , "like[write]": true //复选框选中状态
                , "close": true //开关状态
                , "sex": "女"
                , "desc": "我爱 layui"
            });
        });


        form.on('select(JYConSickDep)', function (data) {
           // layui.layer.msg(data.value);//得到被选中的值
          //  layui.layer.msg(data.elem); //得到select原始DOM对象

                layui.$.ajax({
                    url: "/data/depLocation?JYConDepCode=" + data.value,
                    success: function (result) {
                        var res = JSON.parse(result)
                        if (res.flag === "true") {
                            layui.$('#JYConDepLocaltion').val(res.JYConDepLocalhost)
                            layui.$('#JYConSickDepId').val(res.JYConDepCode)
                        } else {
                            alert(res.mesg)
                        }
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });

            console.log(data.value)
        })
        form.on('select(JYConOppHos)', function (data) {
            layui.$("#JYConOppDepId").empty();
            // layui.layer.msg(data.value);//得到被选中的值
            //  layui.layer.msg(data.elem); //得到select原始DOM对象
            if (data.value!==""){
            layui.$.ajax({
                url: "/data/depList?JYConDepBelongHos=" + data.value,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$.each(res.data, function(index, value) {
                        console.log(value.JYConDepName)
                        console.log(value.JYConDepCode)
                        layui.$("#JYConOppDepId").append("<option value='"+value.JYConDepCode+"'>"+value.JYConDepName+"</option>");
                      //  alert(index + ': ' + value);
                    });
                    form.render('select');
                    /* if (res.flag === "true") {
                         layui.$('#JYConDepLocaltion').val(res.JYConDepLocalhost)
                         layui.$('#JYConSickDepId').val(res.JYConDepCode)
                     } else {
                         alert(res.mesg)
                     }*/
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });
            }
        })


        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function () {
            var data = form.val('example');
            alert(JSON.stringify(data));
        });



        {{if .Msg_ture}}
        layer.open({
            type: 0,
            content: {{.Msg_notice}} //这里content是一个普通的String
    });
        {{end}}

    });
</script>
<script>
    document.getElementById("JYConPurpose").value = "{{.JYConPurpose}}"
    document.getElementById("JYConSickDia").value = "{{.JYConSickDia}}"
    document.getElementById("JYConSickCase").value = "{{.JYConSickCase}}"
</script>
</body>
</html>