<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        body {
            margin: 0;
            padding: 0 10%;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<form class="layui-form" action="/apply_et" method="post" id="apply">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">住院号</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickAd" lay-verify="required|number" autocomplete="off"
                       class="layui-input" value="{{.JYConSickAd}}">
            </div>
        </div>
        {{if .EditInfo}}
        <div class="layui-input-inline" style="display: none">
            <input type="tel" name="JYConNum" value="{{.JYConNum}}">
        </div>
        {{ end}}
        <div class="layui-inline">
            <label class="layui-form-label">患者姓名</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickName" lay-verify="title" autocomplete="off" class="layui-input"
                       value="{{.JYConSickName}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select name="JYConSickSex" lay-verify="required" id="类型" lay-search="{{.JYConSickSex}}">
                    <option value="男" {{.SexM}}>男</option>
                    <option value="女" {{.SexW}}>女</option>
                </select>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConSickAge" lay-verify="required|number|age" autocomplete="off"
                       class="layui-input" value="{{.JYConSickAge}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">床号</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickBedNo" lay-verify="required|number|chuanhao"  autocomplete="off"
                       class="layui-input" value="{{.JYConSickBedNo}}">
            </div>
        </div>
        <div class="layui-inline" >
            <label class="layui-form-label">科室</label>
            <div class="layui-inline" >
                <select name="JYConSickDepId" lay-verify="required" id="JYConSickDepId" lay-search=""  lay-filter="JYConSickDepId">
                    <option value="">请选科室</option>
                    {{str2html .DepListS}}
                </select>
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input  name="JYConSickDep"  id="JYConSickDep"  value="{{.JYConSickDep}}" lay-verify="required"  lay-search="" lay-filter="">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">科室地址</label>
        <div class="layui-input-block">
            <input type="text" name="JYConDepLocaltion" lay-verify="title"  autocomplete="off" id="JYConDepLocaltion"
                   class="layui-input" value="{{.JYConDepLocaltion}}">
        </div>
    </div>
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">主管医师</label>
            <div class="layui-input-inline">
                <select name="JYConSickDocId" id="JYConSickDocId"  lay-search="" lay-verify="required" lay-filter="JYConSickDocId">
                    <option value="">请选医师</option>
                </select>
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickDoc" id="JYConSickDoc"  value=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">医师电话</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConSickDocPhone" lay-verify="required|phone" autocomplete="off" id="JYConSickDocPhone"
                       class="layui-input" value="{{.JYConSickDocPhone}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">会诊类型</label>
        <div class="layui-input-block">
            <input type="radio" name="JYConType" value="1" title="平会诊" >
            <input type="radio" name="JYConType" value="2" title="急会诊" checked>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">目前诊断</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="JYConSickDia" lay-verify="title"
                      id="JYConSickDia"
                      value="{{.JYConSickDia}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简要病情</label>
        <div class="layui-input-block">
            <textarea placeholder="含主诉、病例特征等" class="layui-textarea" name="JYConSickCase" lay-verify="title"
                      id="JYConSickCase"
                      value="{{.JYConSickCase}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">请求会诊目的</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="JYConPurpose" lay-verify="title"
                      id="JYConPurpose"
                      value="哈哈哈哈"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">拟邀请科室</label>
        <!--选择院区-->
        <div class="layui-input-inline">
            <select name="JYConOppHos" id="JYConOppHos" lay-filter="JYConOppHos" lay-verify="required" lay-search="">
                <option value="">请选院区</option>
                {{if eq .JYConOppHos "JYZX"}}
                <option value="JYZX" selected>精医中心</option>
                <option value="WJQY">温江区医院</option>
                {{else if eq .JYConOppHos "WJQY"}}
                <option value="JYZX">精医中心</option>
                <option value="WJQY" selected>温江区医院</option>
                {{else}}
                <option value="JYZX">精医中心</option>
                <option value="WJQY">温江区医院</option>
                {{end}}
            </select>
        </div>
        <!--选择科室-->
        <div class="layui-input-inline">
            <select name="JYConOppDepId" id="JYConOppDepId" lay-search="" lay-verify="required" lay-filter="JYConOppDepId">
            </select>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="JYConOppDep" id="JYConOppDep" autocomplete="off" value="{{.JYConOppDep}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">会诊时间</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConDate" id="date" lay-verify="datetime" autocomplete="off"
                       class="layui-input" value="{{.JYConDate}}">
            </div>
        </div>


    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" >选择医师</label>
            <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch" lay-filter="is_auto" lay-text="自动|手动" checked>
            </div>
    </div>
    <div class="layui-form-item" id="is_auto">
        <!--选择医师-->
        <label class="layui-form-label">医师姓名</label>
        <div class="layui-input-inline">
            <select name="JYConOppDocId" id="JYConOppDocId" lay-search="" lay-verify="required" lay-filter="JYConOppDocId">
            </select>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="JYConOppDocName" id="JYConOppDocName" autocomplete="off" value="{{.JYConOppDocName}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">医师电话</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConOppDocPhone" id="JYConOppDocPhone" lay-verify="datetime"
                       autocomplete="off" class="layui-input" value="{{.JYConOppDocPhone}}">
            </div>
        </div>

        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="flag"  id="flag" autocomplete="off" value="1"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="no_auto" style="display: none" >
        <!--选择医师-->
        <label class="layui-form-label">医师姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="JYConOppDocName1" lay-verify="title"  autocomplete="off" id="JYConOppDocName1"
                   class="layui-input" value="1">
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="text" name="JYConOppDocId1" id="JYConOppDocId1" autocomplete="off" value="1">
            </div>
        </div>
        <div class="layui-inline" style="display: none">
            <div class="layui-input-inline">
                <input type="tel" name="ISAutoDoc" id="ISAutoDoc" autocomplete="off" value="1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">医师电话</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConOppDocPhone1" id="JYConOppDocPhone1" lay-verify="datetime"
                       autocomplete="off" class="layui-input" value="1">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zc" >暂存</button>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="tj">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            ,yq="";

        //日期
        laydate.render({
            elem: '#date'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#date1'
        });
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '不能为空';
                }
            }
            , content: function (value) {
                layedit.sync(editIndex);
            }
            ,datetime:function (value) {
                if (value.length < 2) {
                    return '请填写时间';
                }
            }
            ,age:function (value) {
                if (value<1||value>100) {
                    return '填写正确年龄';
                }
            }
            ,chuanhao:function (value) {
                if (value<1||value>100) {
                    return '填写正确床号';
                }
            }
        });


        //监听提交
        form.on('submit(zc)', function (data) {
            layui.$("#flag").val("1");
        });
        form.on('submit(tj)', function (data) {
            layui.$("#flag").val("2");
        });
        //监听医师选择
        form.on('switch(is_auto)', function (data) {  // 监听 layui switch绑定事件； 特别注意 is_navigate 要跟上面的 lay-filter="is_navigate" 名称保持一致
            if (data.elem.checked) {
                layui.$("#ISAutoDoc").val("1");
                layui.$("#JYConOppDocName1").val("JYConOppDocName");
                layui.$("#JYConOppDocName").val("");
                layui.$("#JYConOppDocPhone1").val("19999999999");
                layui.$("#JYConOppDocPhone").val("");
                layui.$("#JYConOppDocId1").val("JYConOppDocPhone");
                layui.$("#JYConOppDocId option[value='999']").remove();
                layui.$("#JYConOppDocId").val("");
                form.render('select');
                layui.$("#no_auto").css("display", "none");
                layui.$("#is_auto").css("display", "block");
            } else {
                layui.$("#ISAutoDoc").val("0");
                layui.$("#JYConOppDocId").append("<option value='999'>999</option>");
                layui.$("#JYConOppDocId").val(999)
                form.render('select');
                layui.$("#JYConOppDocName").val("JYConOppDocName");
                layui.$("#JYConOppDocName1").val("");
                layui.$("#JYConOppDocPhone").val("18888888888");
                layui.$("#JYConOppDocPhone1").val("");
                layui.$("#JYConOppDocId1").val("");
                layui.$("#is_auto").css("display", "none");
                layui.$("#no_auto").css("display", "block");

            }

        });
        //主管医师选择后获取电话号码
        form.on('select(JYConSickDocId)', function (data) {
            layui.$.ajax({
                url: "/data/docInfo?JYConPersonCode=" + data.value,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$('#JYConSickDocPhone').val(res.JYConPersonPhone)
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });
            var sel = layui.$("#JYConSickDocId option:selected").text();
            layui.$('#JYConSickDoc').val(sel)
        });




        //急诊医师选择监听
        form.on('select(JYConOppDocId)', function (data) {
            console.log(data)
            layui.$.ajax({
                url: "/data/docInfo?JYConPersonCode=" + data.value+"&yq="+yq,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$('#JYConOppDocPhone').val(res.JYConPersonPhone)
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });
            var sel = layui.$("#JYConOppDocId option:selected").text();
            layui.$('#JYConOppDocName').val(sel)
        });


        //拟邀科室科室选择监听
        form.on('select(JYConOppDepId)', function (data) {
            layui.$("#JYConOppDocId").empty();
            if (data.value!==""){
                layui.$.ajax({
                    url: "/data/docList?JYConDepCode=" + data.value+"&yq="+yq,
                    success: function (result) {
                        var res = JSON.parse(result)
                        layui.$("#JYConOppDocId").append("<option value=''>请选医师</option>");
                        layui.$.each(res.data, function(index, value) {
                            layui.$("#JYConOppDocId").append("<option value='"+value.JYConPersonCode+"'>"+value.JYConPersonName+"</option>");
                            if (index===0){
                                layui.$('#JYConOppDocName').val(value.JYConDepName)
                            }
                        });
                        form.render('select');
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });
            }

            var sel = layui.$("#JYConOppDepId option:selected").text();
            layui.$('#JYConOppDep').val(sel)
        });

    //拟邀科室院区选择监听
        form.on('select(JYConOppHos)', function (data) {
            layui.$("#JYConOppDepId").empty();
            yq=data.value;
            if (data.value!==""){
            layui.$.ajax({
                url: "/data/depList?JYConDepBelongHos=" + data.value,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$("#JYConOppDepId").append("<option value=''>请选科室</option>");
                    layui.$.each(res.data, function(index, value) {
                        layui.$("#JYConOppDepId").append("<option value='"+value.JYConDepCode+"'>"+value.JYConDepName+"</option>");
                        if (index===0){
                            layui.$('#JYConOppDep').val(value.JYConDepName)
                        }
                    });
                    form.render('select');
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });
            }
        });

        //申请单科室选择监听
        form.on('select(JYConSickDepId)', function (data) {
            var sel = layui.$("#JYConSickDepId option:selected").text();
            layui.$('#JYConSickDep').val(sel)
            layui.$("#JYConSickDocId").empty();
            if (data.value!==""){
                layui.$.ajax({
                    url: "/data/docList?JYConDepCode=" + data.value,
                    success: function (result) {
                        var res = JSON.parse(result)
                        layui.$("#JYConSickDocId").append("<option value=''>请选医师</option>");
                        layui.$.each(res.data, function(index, value) {
                            layui.$("#JYConSickDocId").append("<option value='"+value.JYConPersonCode+"'>"+value.JYConPersonName+"</option>");
                            if (index===0){
                                layui.$('#JYConSickDoc').val(value.JYConPersonName)
                            }
                        });
                        form.render('select');
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });
                layui.$.ajax({
                    url: "/data/depLocation?JYConDepCode=" + data.value,
                    success: function (result) {
                        var res = JSON.parse(result)
                        if (res.flag === "true") {
                            layui.$('#JYConDepLocaltion').val(res.JYConDepLocalhost)
                            layui.$('#JYConSickDepId').val(res.JYConDepCode)
                        } else {
                            alert(res.mesg)
                        }
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });
            }
        });


        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function () {
            var data = form.val('example');
            alert(JSON.stringify(data));
        });
        {{if .Y1}}
        layer.ready(function () {
                layui.$.ajax({
                    url: "/data/depList?JYConDepBelongHos={{.JYConOppHos}}",
                    success: function (result) {
                        var res = JSON.parse(result)
                        layui.$.each(res.data, function(index, value) {
                            layui.$("#JYConOppDepId").append("<option value='"+value.JYConDepCode+"'>"+value.JYConDepName+"</option>");
                            if (value.JYConDepCode==="{{.JYConOppDepId}}"){
                                layui.$("#JYConOppDepId").append("<option value='"+value.JYConDepCode+"' selected>"+value.JYConDepName+"</option>");
                            }else{
                                layui.$("#JYConOppDepId").append("<option value='"+value.JYConDepCode+"'>"+value.JYConDepName+"</option>");
                            }
                        });
                        form.render('select');
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });
                layui.$.ajax({
                    url: "/data/docList?JYConDepCode={{.JYConSickDepId}}",
                    success: function (result) {
                        var res = JSON.parse(result)
                        layui.$.each(res.data, function(index, value) {
                            if (value.JYConPersonCode==="{{.JYConSickDocId}}"){
                                layui.$("#JYConSickDocId").append("<option value='"+value.JYConPersonCode+"' selected>"+value.JYConPersonName+"</option>");
                            }else{
                                layui.$("#JYConSickDocId").append("<option value='"+value.JYConPersonCode+"'>"+value.JYConPersonName+"</option>");
                            }

                        });
                        form.render('select');
                    },
                    error: function (xhr) {
                        alert("系统异常");
                        layer.close();
                    }
                });
                if ({{.IsAutoDoc}}){
                    layui.$("#ISAutoDoc").val("1");
                  /*  layui.$('input[name="switch"]').attr('checked', 'checked'); //改变开关为 开
                    layui.$('input[name="switch"]').removeAttr('checked'); //改变开关为 关*/
                    layui.$('input[name="switch"]').next().addClass('layui-form-onswitch'); //开
                   // layui.$('input[name="switch"]').next().removeClass('layui-form-onswitch'); //关
                    layui.$("#no_auto").css("display", "none");
                    layui.$("#is_auto").css("display", "block");

                }else {
                    layui.$("#ISAutoDoc").val("0");
              /*      layui.$('input[name="switch"]').attr('checked', 'checked'); //改变开关为 开
                    layui.$('input[name="switch"]').removeAttr('checked'); //改变开关为 关
                    layui.$('input[name="switch"]').next().addClass('layui-form-onswitch'); //开*/
                    layui.$('input[name="switch"]').next().removeClass('layui-form-onswitch'); //关
                    layui.$("#is_auto").css("display", "none");
                    layui.$("#no_auto").css("display", "block");
                }



        });
        {{end}}

        {{if .Msg_ture}}
        layer.open({
            type: 0,
            content: {{.Msg_notice}} //这里content是一个普通的String
        });
        {{end}}

    });
</script>
<script language="javascript" type="text/javascript">
    //禁用Enter键表单自动提交
    document.getElementById("JYConPurpose").value = "{{.JYConPurpose}}"
    document.getElementById("JYConSickDia").value = "{{.JYConSickDia}}"
    document.getElementById("JYConSickCase").value = "{{.JYConSickCase}}"
    document.onkeydown = function(event) {
        var target, code, tag;
        if (!event) {
            event = window.event; //针对ie浏览器
            target = event.srcElement;
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "TEXTAREA") { return true; }
                else { return false; }
            }
        }
        else {
            target = event.target; //针对遵循w3c标准的浏览器，如Firefox
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "INPUT") { return false; }
                else { return true; }
            }
        }
    };
</script>
</body>
</html>