<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请单信息</title>
</head>
<style>
    td{
        width: 80px;
    }
</style>
<body>
<button onclick="formTablePrint()" style="background-position:center right">打印</button>
<table border="1" width="650" height="680" align="center" cellspacing="0" id="form_table">
    <caption style="font-size: large;margin-bottom: 15px">四川省精神医学中心与成都市温江区人民医院院际间会诊申请表({{.ApproveType}})</caption>
    <tr align="center">
        <td bgcolor="#ededed">患者姓名</td>
        <td>{{.Form.JYConSickName}}</td>
        <td bgcolor="#ededed">性别</td>
        <td>{{.Form.JYConSickSex}}</td>
        <td bgcolor="#ededed">年龄</td>
        <td>{{.Form.JYConSickAge}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">科室</td>
        <td>{{.Form.JYConSickDep}}</td>
        <td bgcolor="#ededed">床号</td>
        <td>{{.Form.JYConSickBedNo}}</td>
        <td bgcolor="#ededed">住院号</td>
        <td>{{.Form.JYConSickAd}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed" >科室位置</td>
        <td colspan="7">{{.Form.JYConDepLocaltion}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">主管医师</td>
        <td colspan="2">{{.Form.JYConSickDoc}}</td>
        <td bgcolor="#ededed">医师电话号码</td>
        <td colspan="2">{{.Form.JYConSickDocPhone}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed" align="center">目前诊断</td>
        <td colspan="7">{{.Form.JYConSickDia}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed" align="center">简要病情</td>
        <td colspan="7">{{.Form.JYConSickCase}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed" align="center">会诊目的</td>
        <td colspan="7">{{.Form.JYConPurpose}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">拟邀请科室</td>
        <td colspan="2">{{.Form.JYConOppDep}}</td>
        <td bgcolor="#ededed">期望会诊时间</td>
        <td colspan="2">{{.JYConDate}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">申请人</td>
        <td colspan="2">{{.Form.JYConFormCreatePersonName}}</td>
        <td bgcolor="#ededed">申请时间</td>
        <td colspan="2">{{.JYConFormCreateDate}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">科室意见</td>
        <td >{{.JYConFormApproveCommentK}}</td>
        <td bgcolor="#ededed">审批人</td>
        <td >{{.JYConFormApprovePersonNameK}}</td>
        <td bgcolor="#ededed">审批时间</td>
        <td >{{.JYConFormApproveDateK}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">医务部意见</td>
        <td >{{.JYConFormApproveCommentY}}</td>
        <td bgcolor="#ededed">审批人</td>
        <td >{{.JYConFormApprovePersonNameY}}</td>
        <td bgcolor="#ededed">审批时间</td>
        <td >{{.JYConFormApproveDateY}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed">拟邀医务部意见</td>
        <td >{{.JYConFormApproveCommentTY}}</td>
        <td bgcolor="#ededed">审批人</td>
        <td >{{.JYConFormApprovePersonNameTY}}</td>
        <td bgcolor="#ededed">审批时间</td>
        <td >{{.JYConFormApproveDateTY}}</td>

    </tr>
<!--    <tr align="center">
        <td bgcolor="#ededed">拟邀科室意见</td>
        <td >{{.JYConFormApproveCommentTK}}</td>
        <td bgcolor="#ededed">审批人</td>
        <td >{{.JYConFormApprovePersonNameTK}}</td>
        <td bgcolor="#ededed">审批时间</td>
        <td >{{.JYConFormApproveDateTK}}</td>
    </tr>-->
    <tr align="center">
        <td bgcolor="#ededed">会诊医生</td>
        <td colspan="2">{{.Form.JYConOppDocName}}</td>
        <td bgcolor="#ededed">医师电话</td>
        <td colspan="2">{{.Form.JYConOppDocPhone}}</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ededed" align="center">会诊记录</td>
        <td colspan="7">{{.Form.JYConFormConclusion}}</td>
    </tr>
</table>
<script language="javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script language="javascript" src="/static/js/jquery.jqprint-0.3.js"></script>
<script language="javascript">
    function  formTablePrint(){
        $("#form_table").jqprint();
    }
</script>
</body>
</html>