<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        body {
            margin: 0;
            padding: 0 10%;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<form class="layui-form" action="/con_note" method="post" id="apply">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">住院号</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickAd" lay-verify="required|number" autocomplete="off"
                       style="cursor:not-allowed" disabled
                       class="layui-input" value="{{.Form.JYConSickAd}}">
            </div>
        </div>
        <input type="tel" name="JYConNum" style="display: none" value="{{.Form.JYConNum}}">
        <input type="tel" name="JYConFormPolicy" style="display: none" value="{{.Form.JYConFormPolicy}}">
        <div class="layui-inline">
            <label class="layui-form-label">患者姓名</label>
            <div class="layui-input-inline">
                <input type="tel" name="JYConSickName" lay-verify="title" style="cursor:not-allowed" disabled
                       autocomplete="off" class="layui-input"
                       value="{{.Form.JYConSickName}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input name="JYConSickSex" lay-verify="required" autocomplete="off" id="类型" style="cursor:not-allowed"
                       disabled class="layui-input" value="{{.Form.JYConSickSex}}">
            </div>
        </div>

    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">目前诊断</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" style="cursor:not-allowed" disabled name="JYConSickDia"
                      lay-verify="title"
                      id="JYConSickDia"
                      value="{{.Form.JYConSickDia}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简要病情</label>
        <div class="layui-input-block">
            <textarea placeholder="含主诉、病例特征等" class="layui-textarea" style="cursor:not-allowed" disabled
                      name="JYConSickCase" lay-verify="title"
                      id="JYConSickCase"
                      value="{{.Form.JYConSickCase}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">会诊记录</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入会诊记录" class="layui-textarea" name="JYConFormConclusion" lay-verify="title"
                      id="huzjil" value="{{.Form.JYConSickDia}}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">会诊医生</label>
            <div class="layui-input-inline" style="width: 285px" id="is_auto">
                <select name="JYConOppDocId" lay-verify="required" id="JYConOppDocId" lay-search="" style="display: none" lay-filter="JYConOppDocId">
                    <option value="">选择医师</option>
                    {{range .DocList}}
                    <option value="{{.JYConPersonCode}}">{{.JYConPersonName}}</option>

                    {{end}}
                </select>

            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 60px;text-align: left">电话号码</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConOppDocPhone" lay-verify="required|phone" autocomplete="off" id="JYConOppDocPhone"
                       placeholder="请输入电话号码" value="{{.ThisDocPhone}}"
                       class="layui-input" style="width: 285px"/>
                <input type="text" name="JYConOppDocName" lay-verify="title" style="display: none" autocomplete="off" id="JYConOppDocName" value="{{.ThisDocName}}"
                       class="layui-input" style="width: 285px"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">完成时间</label>
        <div class="layui-input-inline">
            <input type="text" name="JYConFormConclusionDate" id="date" lay-verify="datetime" placeholder=""
                   autocomplete="off" class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 15px">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="tj">提交</button>
        </div>
    </div>
</form>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>

    function nihao(){
        layui.$("#JYConOppDocId").find("option[value = '{{.ThisDoc}}']").prop("selected",true);
        layui.form.render('select');
    }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , laydate = layui.laydate;
        layui.$("#JYConOppDocId").find("option[value = '{{.ThisDoc}}']").prop("selected",true);
        layui.form.render('select');
        //日期
        laydate.render({
            elem: '#date'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#date1'
        });
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '会诊记录不能为空';
                }
            }
            ,
            datetime: function (value) {
                if (value.length < 2) {
                    return '请填写时间';
                }
            }
        });

        //监听提交
        form.on('submit(zc)', function (data) {
            layui.$("#flag").val("1");
        });
        form.on('submit(tj)', function (data) {
            layui.$("#flag").val("2");
        });
        form.on('select(JYConOppDocId)',function (data){
            layui.$.ajax({
                url: "/data/docInfo?JYConPersonCode=" + data.value,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$('#JYConOppDocPhone').val(res.JYConPersonPhone)
                    console.log(res.JYConPersonName)
                    layui.$('#JYConOppDocName').val(res.JYConPersonName)
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });

        });
    });
</script>
<script language="javascript" type="text/javascript">
    document.getElementById("JYConSickDia").value = "{{.Form.JYConSickDia}}"
    document.getElementById("JYConSickCase").value = "{{.Form.JYConSickCase}}"
    document.onkeydown = function (event) {
        var target, code, tag;
        if (!event) {
            event = window.event; //针对ie浏览器
            target = event.srcElement;
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "TEXTAREA") {
                    return true;
                } else {
                    return false;
                }
            }
        } else {
            target = event.target; //针对遵循w3c标准的浏览器，如Firefox
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "INPUT") {
                    return false;
                } else {
                    return true;
                }
            }
        }
    };
</script>
{{if .SpOk}}
<script>
    if (top.location != self.location) {
        window.parent.location.reload()
    } else {
        window.location.replace("/");

    }
    /* function onclick_back(){
         parent.httpReplace()
     }*/
</script>
{{end}}

</body>
</html>