<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="/static/js/JQuery.min.js"></script>
</head>
<body>
<div id="test">aaa</div>
<div class="iframe2">子页面</div>
<a href="#" onclick="abcde()" id="a_b">点击</a>

<script>
  /**
   index.js 项目 JS 主入口
   **/


    //…
    layer.msg('Hello World');
    function b() {
      console.log("我是子页面");
    }
    function iframe3Page() {
      console.log("iframe3页面调用iframe2页面");
    }
  //$('.iframe1',parent.document);
 function abcde(){
    //  alert("adadasd");
  // parent.test2();
  //
   $('#iframe3',parent.document).remove();
 //  parent.

 }


</script>
</body>
</html>