<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="/static/js/JQuery.min.js"></script>
</head>
<body>
<iframe src="http://localhost/iframe/iframe3.html" id = "iframe3"></iframe>
<iframe src="/iframe2" id = "iframe2"></iframe>
<div class="iframe1" id="iframe1" onclick="ccc()">父页面</div>
<script>
  function test2() {
    console.log(1);
    alert("我是第一恶啊啊")
  }
  function ccc(){
   // $("#iframe2").contents().find("#a_b").click();
    $("#iframe2").contents().abcde();

  }
</script>
</body>
</html>