<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<table class="layui-hide" id="shuju" lay-filter="test" lay-filter="user"></table>
<script type="text/html" id="toolbarDemo">
    <div class="demoTable">
        <div class="layui-input-inline" style="width: 100px">
            <select name="modules" lay-verify="required" id="sele" lay-search="">
                <option value="1">会诊号</option>
                <option value="2">姓名</option>
                <option value="3">住院号</option>
                <option value="4">科室</option>
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <div class="layui-inline" id="date">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px;color: #0C0C0C">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date1" lay-verify="date" placeholder="" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px;color: #0C0C0C">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date2" lay-verify="date" placeholder="" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <button class="layui-btn" data-type="reload" lay-event="sousuo" style="margin-left: 10px">搜索</button>

    </div>

</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="pass">通过</a>
    <a class="layui-btn layui-btn-xs" lay-event="reject">拒绝</a>
    <a data-method="offset" class="layui-btn  layui-btn-xs layui-btn-normal" data-type="auto" lay-event="check">查看</a>
</script>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/JQuery.min.js"></script>


<script>
    layui.use('table', function () {
        var form = layui.table,
            layer = layui.layer
            ,laydate = layui.laydate;

        form.render({
            elem: '#shuju'
            , url: '/data_table/fromDsp?type={{.Type}}'
/*
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
*/
            , defaultToolbar: ['filter', 'exports', 'print',]
            , title: '用户数据表'
            ,height:'full-20'
            , cols: [[
                {field: 'JYConNum', title: '申请单号', width: 152, fixed: 'left', unresize: true, sort: true}
                , {field: 'JYConSickName', title: '患者姓名', cellMinWidth: 90}
                , {field: 'JYConSickSex', title: '性别', cellMinWidth: 50}
                , {field: 'JYConSickAge', title: '年龄', cellMinWidth: 50}
                , {field: 'JYConSickDep', title: '申请科室', width: 150}
                , {field: 'JYConDate', title: '申请时间', sort: true, width: 160}
                , {field: 'JYConOppHos', title: '拟邀医院', cellMinWidth: 110, templet: '#formHos'}
                , {field: 'JYConOppDep', title: '拟邀科室', cellMinWidth: 150}
                , {field: 'JYConType', title: '会诊类型', cellMinWidth: 75}
                , {field: 'JYConFormPolicy', title: '审批进度', width: 135, templet: '#formPolicyTpl'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 230}
            ]]
            ,height:'full-20'
            , id: 'formInfo'
            , page: true
        });
        //日期
        laydate.render({
            elem: '#date'
            ,range: ['#date1', '#date2']
        });

        form.on('toolbar(test)', function (obj) {
            var checkStatus = form.checkStatus(obj.config.id);

            switch (obj.event) {
                case 'sousuo':
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                    break;
            }
        });

        //监听行工具事件
        form.on('tool(test)', function (obj) {
            var data = obj.data;
            var jyConType ="";
            if (data.JYConType==="急会诊"){
                jyConType="2"
            }if (data.JYConType==="平会诊"){
                jyConType="1"
            }
            switch (obj.event){
                case 'reject':
                    layer.prompt({title:'拒绝申请理由',formType:2},function (text,index) {
                        layer.close(index);
                        layui.$.ajax({
                            url: "/change_msg/changeFormState?JYConNum=" + data.JYConNum+"&flag=reject&JYConFormApproveComment="+text+"&JYConType="+jyConType+"&JYConFormPolicy="+data.JYConFormPolicy1,
                            success: function (result) {
                                var res = JSON.parse(result)
                                if (res.code === 0) {
                                    //执行重载
                                    form.reload('formInfo', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                    layer.msg(res.msg, {icon: 1});
                                } else {
                                    alert(res.code)
                                }
                            },
                            error: function (xhr) {
                                alert("系统异常");
                                layer.close();
                            }
                        });

                    });
                    break;
                case 'pass':
                {{if .IsTO}}
                    layer.open({
                        type: 2
                        , id: 'layerDemo'  //防止重复弹出
                        , title: ['审批', 'font-size:21px;text-align:center;']
                        , content: '/approve56?JYConNum=' + data.JYConNum
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , area: ['460px', '500px']
                        , scrollbar: false
                        ,resize:false
                        , yes: function () {
                            layer.closeAll();
                        } ,cancel: function () {
                            //执行重载
                            form.reload('formInfo', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                            layer.close();
                        }
                    });

                {{else}}
                    layer.prompt({title:'审批理由',formType:2},function (text,index) {
                        layer.close(index);
                        layui.$.ajax({
                            url: "/change_msg/changeFormState?JYConNum=" + data.JYConNum+"&flag=approve&JYConFormApproveComment="+text+"&JYConType="+jyConType+"&JYConFormPolicy="+data.JYConFormPolicy1,
                            success: function (result) {
                                var res = JSON.parse(result)
                                if (res.code === 0) {
                                    //执行重载
                                    form.reload('formInfo', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                    layer.msg(res.msg, {icon: 1});
                                } else {
                                    alert(res.code)
                                }
                            },
                            error: function (xhr) {
                                alert("系统异常");
                                layer.close();
                            }
                        });

                    });
                {{ end}}
                    break;
                case 'check':
                    layer.open({
                        type: 2
                        , id: 'layerDemo'  //防止重复弹出
/*
                        , title: ['四川省精神医学中心与成都市温江区人民医院院际间会诊申请表', 'font-size:21px;text-align:center;']
*/                      , title: false
                        , content: '/check?JYConNum=' + data.JYConNum
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , area: ['100%', '100%']
                        ,btn:['关闭']
                        , yes: function () {
                            layer.closeAll();
                        } ,cancel: function () {
                            //执行重载
                            form.reload('formInfo', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                            layer.close();
                        }
                    });
                    break;

            }

        });


        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');

                //执行重载
                form.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: demoReload.val(),
                            sel: $('#sele').val()

                        }
                        /*,select:{
                            sel:$('#sele').val()
                        }*/
                    }
                });
            }
        };


        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        var active1 = {
            offset: function (othis) {
                var type = othis.data('type')
                layer.open({
                    type: 2
                    , offset: type
                    , id: 'layerDemo' + type //防止重复弹出
                    , title: ['四川省精神医学中心与成都市温江区人民医院院际间会诊申请表\n', 'font-size:21px;text-align:center;']
                    , content: '/view_page'
                    , btn: '关闭'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    ,area: ['100%', '100%']
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

    });
</script>
<script type="text/html" id="formPolicyTpl">
    {{.FormPolicyTpl}}
</script>
<script type="text/html" id="formHos">
    {{str2html .FormHos}}
</script>
</body>
</html>