<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        html, body {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: rgb(43, 43, 43);
            text-align: center;
        }

        form {
            width: 400px;
            min-width: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
        }

        form div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="abc">
<div>
    <form method="post" class="layui-form">

        <div class="layui-form-item layui-form-text" >
            <label class="layui-form-label" style="width:60px;text-align: left">审批意见</label>
            <div class="layui-input-inline">
            <textarea placeholder="请输入内容" class="layui-textarea" name="JYConFormApproveComment" lay-verify="title"
                      id="JYConFormApproveComment"
                      value="哈哈哈哈" style="width: 285px"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label" style="width: 60px;text-align: left">选择医师</label>
            <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch" lay-filter="is_auto" lay-text="自动|手动" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;text-align: left">会诊医师</label>
            <div class="layui-input-inline" style="width: 285px" id="is_auto">
                <select name="JYConOppDocId" lay-verify="required" id="JYConOppDocId" lay-search="" style="display: none" lay-filter="JYConOppDocId">
                    <option value="">选择医师</option>
                    {{range .DocList}}
                    <option value="{{.JYConPersonCode}}">{{.JYConPersonName}}</option>
                    {{end}}
                </select>

            </div>
            <div class="layui-input-inline" style="width: 285px;margin-bottom: 20px;display: none" id="no_auto">
                <input type="text" name="JYConOppDocName" lay-verify="title" placeholder="请输医生姓名" autocomplete="off" id="JYConOppDocName"
                       class="layui-input" style="width: 285px" value="1"/>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;text-align: left">电话号码</label>
            <div class="layui-input-inline">
                <input type="text" name="JYConOppDocPhone" lay-verify="required|phone" autocomplete="off" id="JYConOppDocPhone"
                       placeholder="请输入电话号码"
                       class="layui-input" style="width: 285px"/>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width:100%;height:35px;text-align: center">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="agree"
                        style="width:80%;height:35px;">
                    同意
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            isSwitch=true;
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '请输入工号';
                }
            }
            , pass: [
                /^[\S]{1,30}$/
                , '请输入密码'
            ]
        });


        //监听提交
        form.on('submit(agree)', function (data) {
            var JYConFormApproveComment = layui.$("#JYConFormApproveComment").val();
            var JYConOppDocId = "";
            var JYConOppDocName;
            var JYConOppDocPhone = layui.$("#JYConOppDocPhone").val();
            if (isSwitch){
                 JYConOppDocId = layui.$("#JYConOppDocId").val();
                JYConOppDocName=layui.$("#JYConOppDocId").find("option:selected").text();
            }else {
                JYConOppDocName=layui.$("#JYConOppDocName").val();
            }
            layui.$.ajax({
                url: "/change_msg/changeFormState?JYConNum={{.JYConNum}}&JYConPersonBelongDep={{.JYConPersonBelongDep}}&JYConPersonBelongHos={{.JYConPersonBelongHos}}&flag=approve&JYConFormApproveComment="+JYConFormApproveComment+"&JYConOppDocId="+JYConOppDocId+"&JYConOppDocName="+JYConOppDocName+"&JYConOppDocPhone="+JYConOppDocPhone,
                success: function (result) {
                    var res = JSON.parse(result)
                    if (res.code === 0) {
                        //执行重载
                        table.reload('formInfo', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(res.msg, {icon: 1});
                    } else {
                        alert(res.code)
                    }
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });

            /* layer.alert(JSON.stringify(data.field), {
                 title: '最终的提交信息'
             })
             return false;*/
            var  index = parent.layer.getFrameIndex(window.name);  //先得到当前iframe层的索引
            parent.layer.close(index);  //再执行关闭
            parent.location.reload();
        });
        form.on('switch(is_auto)', function (data) {  // 监听 layui switch绑定事件； 特别注意 is_navigate 要跟上面的 lay-filter="is_navigate" 名称保持一致
            if (data.elem.checked) {
                layui.$("#is_auto").css("display", "block");
                layui.$("#no_auto").css("display", "none");
                layui.$("#JYConOppDocName").val("1")
                layui.$("#JYConOppDocId").get(0).selectedIndex="";
                isSwitch=true;
            } else {
                layui.$("#JYConOppDocName").val("")
                layui.$("#is_auto").css("display", "none");
                layui.$("#JYConOppDocId").get(0).selectedIndex=1;
                layui.$("#no_auto").css("display", "block");
                isSwitch=false;
            }

        });

        form.on('select(JYConOppDocId)',function (data){
            layui.$.ajax({
                url: "/data/docInfo?JYConPersonCode=" + data.value,
                success: function (result) {
                    var res = JSON.parse(result)
                    layui.$('#JYConOppDocPhone').val(res.JYConPersonPhone)
                },
                error: function (xhr) {
                    alert("系统异常");
                    layer.close();
                }
            });

            });
    })
</script>
<script>

    function con() {
        console.log("aaaa")
    }

    function con1() {
        console.log("bbbb")
    }
</script>
</html>