<!DOCTYPE html>
<html lang="en">
<head>
  <title>注册页面</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
  <style type="text/css">
    body {
      padding-top: 4px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
      font-family: "微软雅黑";
/*
      background-color: buttonhighlight;
*/
    }

    .form-signin {
      max-width: 400px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
      background: rgba(255, 255, 255, 0.5);
    }

    #message {
      font-size: 14px;
      color: red;
      margin-left: 40px;
    }


  </style>
</head>
<body>
<div class="form-signin">
  <form action="/register/person" method="post" class="layui-form">
    <input type="hidden" name="method" value="createAccount">
    <!--<div style="width: 100%;text-align: center;margin-bottom: 15px">
      <h1 style="">{{.hospital}}员工注册</h1>
    </div>-->
      <!-- <div class="layui-form-item">
    <label class="layui-form-label" style="width: 60px;text-align: left">院区选择</label>
    <div class="layui-input-inline" style="width: 285px">
      <select name="JYConPersonBelongHos" lay-verify="required" id="sele" lay-search="">
        <option value="JYZX">精医中心</option>
        <option value="WJQY">温江区医院</option>
      </select>
    </div>
  </div>-->
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">科室选择</label>
      <div class="layui-input-inline" style="width: 285px">
        <select name="JYConPersonBelongDep" lay-verify="required" id="kes" lay-search="">
          {{range .DepList}}
          <option value="{{.JYConDepCode}}">{{.JYConDepName}}</option>
          {{end}}
        <!--  <option value="SJXLK">精医神经心理科</option>
          <option value="PICU">精医PICU</option>
          <option value="TTYXZX">精医疼痛医学中心</option>
          <option value="SJNK5">精医疼神经内科5</option>-->
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">人员类型</label>
      <div class="layui-input-inline" style="width: 285px">
        <select name="JYConPersonType" lay-verify="required" id="类型" lay-search="">
          <option value="1">科室主任</option>
          <option value="2">科室负责人</option>
          <option value="3">科室一线医生</option>
          <option value="4">医务部人员</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">工号</label>
      <div class="layui-input-inline">
        <input type="text" name="JYConPersonCode" lay-verify="gonghao" placeholder="请输工号" autocomplete="off"
               class="layui-input" style="width: 285px"/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">姓名</label>
      <div class="layui-input-inline">
        <input type="text" name="JYConPersonName" lay-verify="gonghao" placeholder="请输姓名" autocomplete="off"
               class="layui-input" style="width: 285px"/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left" >手机号码</label>
      <div class="layui-input-inline">
        <input type="text" name="JYConPersonPhone" lay-verify="phone" placeholder="请输手机号码" autocomplete="off"
               class="layui-input" style="width: 285px" oninput="value=value.replace(/[^\d]/g,'')"/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">密码</label>
      <div class="layui-input-inline">
        <input type="password" name="JYConPersonPassword" lay-verify="pass" placeholder="请输入密码" autocomplete="off"
               class="layui-input" style="width: 285px"/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" style="width: 60px;text-align: left">确认密码</label>
      <div class="layui-input-inline">
        <input type="password" name="JYConPersonPassword" lay-verify="confirmPass" placeholder="请输入密码" autocomplete="off"
               class="layui-input" style="width: 285px"/>
      </div>
    </div>
    <div id="divmes" class="layui-form-item" style="display:none;">
      <div class="layui-input-inline">
        <a class="layui-icon layui-icon-face-surprised" id="message"
           style="font-size: 15px; color: #FF0000;margin-left: 50px"></a>
      </div>
    </div>
    <br>
    <div class="layui-form-item">
      <div class="layui-input-inline" style="width:100%;height:35px;text-align: center">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="register" style="width:80%;height:35px;">
          提交
        </button>
      </div>
    </div>
  </form>
</div>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
  layui.use(['form', 'layedit', 'laydate'], function () {
    var form = layui.form
    //自定义验证规则
    form.verify({
      confirmPass:function(value){
        if(layui.$('input[name=JYConPersonPassword]').val() !== value)
          return '提示：两次输入密码不一致！';
      },
      gonghao: function (value) {
        if (value.length < 1) {
          return '请输入工号';
        }
      }
      , pass: [
        /^[\S]{1,30}$/
        , '请输入密码'
      ]
      ,phone:function (v){
        if (v.length!=11){
          return '请输入正确手机号码';
        }
      }
    });
    {{if .Msg_ture}}

      layer.open({
      type: 0,
      content: {{.Msg_notice}} //这里content是一个普通的String
    });

    {{end}}

  });
</script>

</body>
</html>