<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>精医会诊服务平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body style='overflow:scroll;overflow-x:hidden'>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black" style="font-size: 24px;font-family: ‘楷体’,‘楷体_GB2312’; ">
            会诊服务平台
        </div>
        <!--<div class=" layui-layout-left"
             style="display:block;text-align:center;height: 60px;line-height:60px;color: whitesmoke;font-size: 20px;margin-left: 10px">
            {{.hospital}}
        </div>-->
        <div class=" layui-layout-left"
             style="display:block;text-align:center;height: 60px;line-height:60px;color: whitesmoke;font-size: 20px;margin-left: 10px">
            <img src="/static/img/logo_cs.png" style="height: 60px;">
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    {{.hospital}}@{{.PersonName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a id="change_password">修改密码</a></dd>
                    <dd><a href="/exit">退出系统</a></dd>
                </dl>
            </li>

        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" >
                    <a href="javascript:;">{{.HuiZhen}}</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" id="myHuiZhen" class="layui-this">&#12288;发起会诊</a></dd>
                        <dd><a href="javascript:;" id="myHuiZhenTo">&#12288;接收会诊</a></dd>
                    </dl>
                </li>
                {{if .IsFzrAndZr}}
                <li class="layui-nav-item">
                    <a href="javascript:;">我的审批</a>
                    <dl class="layui-nav-child ">
                        <li class="layui-nav-item">
                            <a href="javascript:;">&#12288;待审批</a>
                            <dl class="layui-nav-child  ">
                                <dd><a href="javascript:;" id="from_dsp">&#12288;&#12288;form待审批</a></dd>
                                <dd><a href="javascript:;" id="to_dsp">&#12288;&#12288;to待审批</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">&#12288;已审批</a>
                            <dl class="layui-nav-child  ">
                                <dd><a href="javascript:;" id="from_ysp">&#12288;&#12288;form已审批</a></dd>
                                <dd><a href="javascript:;" id="to_ysp">&#12288;&#12288;to已审批</a></dd>
                            </dl>
                        </li>
                    </dl>
                </li>
                {{if .IsYwbAndAdmin}}
                <li class="layui-nav-item">
                    <a href="javascript:;">信息维护</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" id="dep_manage">&#12288;科室管理</a></dd>
                        <dd><a href="javascript:;" id="person_manage">&#12288;用户管理</a></dd>
                        <dd><a href="javascript:;" id="person_ls_manage">&#12288;临时用户</a></dd>
                    </dl>
                </li>
                {{end}}
                {{end}}
            </ul>
        </div>
    </div>
    <div class="layui-body" style="font-size:0">
        <!-- 内容主体区域 -->
        <iframe src="/iframe/myHz" style="height: 100%;width: 100%" id="mainContent"></iframe>
    </div>

    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        <p>Copyright © 2021 版权所有： 四川省精神医学中心</p>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.$(document).ready(function () {
        layui.$("#myHuiZhen").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/myHz");
        });
        layui.$("#myHuiZhenTo").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/myHzTo");
        });
        layui.$("#from_dsp").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/from_dsp?type=from");
        });
        layui.$("#to_dsp").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/from_dsp?type=to");
        });
        layui.$("#from_ysp").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/from_ysp?type=from");
        });
        layui.$("#to_ysp").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/from_ysp?type=to");
        });
        layui.$("#dep_manage").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/dep_manage");
        });
        layui.$("#person_manage").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/person_manage");
        });
        layui.$("#person_ls_manage").click(function () {
            layui.$("#mainContent").attr("src", "/iframe/extra");
        });
        layui.$("#change_password").click(function () {
            layui.$("#mainContent").attr("src", "/change_password");
        });
    });
    function httpReplace() {
        window.location.replace("/");
    }
</script>
</body>
</html>
